*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main
{
    width: 100%;
}
.main .imgbx img
{
    width: 100%;
    height: 90vh;
}
.main .smaller img
{
    width: 40%;
    height: 30%;
    padding: 10px 20px;
    margin: 30px 50px;
}